In [58]:
import pandas as pd

data = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

In [59]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [60]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

# Tratando as variáveis categóricas

In [61]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [62]:
columns = data.dtypes.reset_index()
columns.head()

          index        0
0  sepal_length  float64
1   sepal_width  float64
2  petal_length  float64
3   petal_width  float64
4       species   object

In [63]:
categ_cols = columns[columns[0]=='object']['index'].to_list()
categ_cols

['species']

In [64]:
for item in categ_cols:
    le.fit(data[item])
    data[str(item)+'_encoded'] = le.fit_transform(data[item])

In [65]:
data.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encoded
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [66]:
data = data.drop('species', axis=1)
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species_encoded
0           5.1          3.5           1.4          0.2                0
1           4.9          3.0           1.4          0.2                0
2           4.7          3.2           1.3          0.2                0
3           4.6          3.1           1.5          0.2                0
4           5.0          3.6           1.4          0.2                0

In [67]:
x = data.drop('species_encoded', axis=1) # dataframe sem coluna de resposta
y = data['species_encoded'] # data frame apenas com coluna resposta

## Separando variáveis em treino e teste - 70% para treino e 30% para teste

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.33, random_state=42)

## Criando o modelo

In [70]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [71]:
# Treinando o modelo
clf = SVC().fit(x_train, y_train)

In [72]:
y_pred = clf.predict(x_test)

## Avaliando o modelo

In [73]:
print(accuracy_score(y_test, y_pred))

1.0

In [74]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[19,  0,  0],
       [ 0, 15,  0],
       [ 0,  0, 16]], dtype=int64)